# Build outputs
node_modules/
dist/
build/
android/app/build/
ios/Pods/
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment
.env
.env.local
.env.*.local

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vercel

# Electron
out/
dist-electron/

# Android
.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode
**/ios/**/xcuserdata
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/.generated/

# macOS
**/Pods/
**/xcuserdata/

# Coverage
coverage/