# Dependencies
node_modules/

# Expo / Metro
.expo/
.expo-shared/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
*.apk
*.aab
android/app/build/
android/build/

# EAS local build
.eas/
