<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.expressluck.inventory">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />

    <application
        android:label="EL Inventory"
        android:icon="@android:drawable/sym_def_app_icon"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.tns.NativeScriptActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

</manifest>
